<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Matplotlib with Django - PokeAPI - sebafonseca</title>
</head>
<body>
    <div class="containter mt-3">
        {% block content %}
        {% endblock content %}
    </div>

</body>
</html>